src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="fetch_employees_implFlow" doc:id="ed68efd8-4498-400c-895b-70833b789704" >
		<logger level="INFO" doc:name="Logger" doc:id="f1f11351-6adc-4621-a164-5ead0314d971" message="dummy logger"/>
		<salesforce:query doc:name="Query" doc:id="4702621c-c8d6-4894-9b93-213082284b57" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Id, Name, DOB__c, Designation__c, Dep__c, Sal__c, Gender__c, Emp_ID__c FROM Employee__c]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="convert sf response to json" doc:id="23cc654a-ac05-4aec-b5e7-3a1e7269746c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var size = sizeOf(payload)
---
(if(size > 0) {
	"Employees" : payload map {
	"Employee ID": $.Emp_ID__c,
	"Employee Name": $.Name,
	"Department": $.Dep__c,
	"Designations": $.Designation__c,
	"Date Of Birth": $.DOB__c,
	"Salary": $.Sal__c,
	"Gender": $.Gender__c
}
}else{
	"Message": "No Records Available at Target System"
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="20b3bf66-e0d6-4e73-a06c-8878fab64a10" />
	</flow>
	<flow name="delete_employees_implFlow" doc:id="837e301c-ed54-408c-8279-18c63068b211" >
		<set-variable value="#[attributes.queryParams.emp_id]" doc:name="Set Variable" doc:id="a72f653e-0bfb-41c2-a618-21c0fa2ff796" variableName="EmpID" />
		<salesforce:query doc:name="Query" doc:id="65be3105-9986-4917-87c0-c68069b8df2c" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Id FROM Employee__c where Emp_ID__c = ':empid']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	empid : vars.EmpID
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="bbe1816d-f654-4d4e-a133-6827436bb785" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map $.Id]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:delete doc:name="Delete" doc:id="16b69331-0dfd-4d5b-b2e0-0020294e6cfe" config-ref="Salesforce_Config">
		</salesforce:delete>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Message: "Record deleted successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
	<flow name="upsert_employees_implFlow" doc:id="84146365-45dc-4bcd-b0c0-5739e15a708d" >
		<logger level="INFO" doc:name="Start Logger" doc:id="64bfffb8-7cc1-4620-95a3-7ca4c154cf9a" message="Before Salesforce Upsert Operations ================"/>
		<ee:transform doc:name="Transform Message" doc:id="2ddea084-ee18-4c36-b5c5-4e9c6037b0f0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.Employees map ( employee , indexOfEmployee ) -> {
	Emp_ID__c: employee.EmployeeId,
	Name: employee.Name,
	DOB__c: employee.DateOfBirth as Date,
	Designation__c: employee.Designation,
	Dep__c: employee.Department,
	Sal__c: employee.Salary,
	Gender__c: employee.Gender
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert doc:name="Upsert" doc:id="e7dd51ce-0925-4202-a8f2-36a06c2fc5bb" config-ref="Salesforce_Config" objectType="Employee__c" externalIdFieldName="Name" />
		<logger level="INFO" doc:name="Salesforce Response Payload" doc:id="c77b33f9-f005-4f46-a2e0-df1337446b43" message="After Salesforce Upsert Operation the payload is:::::: =========== #[payload]" />
		<choice doc:name="Choice" doc:id="a1781e31-e78d-4232-b9cd-be3e3d90ac54" >
			<when expression="#[payload.successful == true]">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Set Response Payload for client">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Message: "The Employee record is created/updated successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="f1bff81a-5a04-429b-aa16-fff3336ffb10" type="SF:FAILURE"/>
			</otherwise>
		</choice>
	</flow>
</mule>
